body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#dashboard-sidebar {

  background: #f2f2f2;
  min-height: 500px;
}
#dashboard-main {

  background: #fff;
  min-height: 500px;

}

